:root {
    /* Primary */
    --blue500: hsl(215, 51%, 70%);
    --cyan400: hsl(178, 100%, 50%);

    /* Neutral */
    --blue950: hsl(217, 54%, 11%);      /* mainBG */
    --blue900: hsl(216, 50%, 16%);      /* cardBG */
    --blue800: hsl(215, 32%, 27%);      /* line */
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 50px 0;
    background-color: var(--blue950);
    font-family: "Outfit", sans-serif;
}

main {
    width: 310px;
    background-color: var(--blue900);
    color: var(--blue500);
    padding: 15px;
    border-radius: 10px;
    display: grid;
    gap: 25px;

    & > .nft {
        position: relative;
        & > .n {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        & > .view {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: var(--cyan400);
            opacity: 60%;
            border-radius: 10px;
            display: none;
        }

        &:hover > .view {
            display: grid;
            place-items: center;
            cursor: pointer;
        }
    }

    & > h1 {
        color: var(--white);
        font-size: 24px;
    }

    & > h1:hover {
        color: var(--cyan400);
        cursor: pointer;
    }

    & > .price {
        display: flex;
        justify-content: space-between;

        & > .p1,
        & > .p2 {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        & > .p1 {
            color: var(--cyan400);
        }
    }

    hr {
        border: none;
        height: 2px;
        background-color: var(--blue800);
    }

    & > .creator {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 25px;

        & > .c-image {
            width: 50px;
            height: 50px;
            border: 1px solid var(--white);
            border-radius: 100%;

            & > img {
                width: 100%;
                height: 100%;
            }
        }

        & span {
            color: var(--white);
        }

        & span:hover {
            color: var(--cyan400);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 330px) {
    main {
        width: 93.93%;
    }
}
